.addFriendForm {
  background-color: bisque;
  box-sizing: border-box;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.addFriendForm div {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addFriendForm input {
  max-width: 150px;
}

.addFriendForm button {
  width: 160px;
}

.addFriend {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 1rem;
}

.addFriend > button {
  margin-right: 0.5rem;
}
